@font-face {
font-family: 'fugue_headline';
src: url("fonts/fugue_headline.woff") format('woff');
}
@font-face {
font-family: 'Pragmatica';
src: url("fonts/Pragmatica.woff") format('woff');
}

.slider{
    max-width: 100%;
    height: 100%;
    /* margin: auto; */
    grid-column: 1 / 13;
    grid-row: 2 / 8;
    border: 1px solid black;
    display: flex;
    overflow: hidden;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
      width: 100%;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    top: 10%;
    width: 7%;
    padding: 15% 1% 0 1%;
    color: black;
    background-color: white;
    font-size: 50px;
    transition: 0.6s ease;
    border: 2px solid black;
}


.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: #3A68EE;
}


.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


h1 {
    text-align: center;
    padding: 0.4em 0 0 0;
    font-family: 'fugue_headline';
}

h2 {
  text-align: center;
  padding: 0.7em 0 0 0;
  font-family: 'Pragmatica';
  font-weight: 330;
}
.creation h2:hover, .delivery h2:hover {
  color: white;
}

h3 {
    text-align: center;
    padding: 0.6em 0 0 0;
    font-family: 'fugue_headline';
    font-size: 1.5em;
}
h3:hover{
  color: #3A68EE;
}

a {
  text-decoration: none;
  color: inherit;
  /* font-size: 1.5em; */
}
h1:hover{
  color: white;
}

p {
  font-size: 1.5em;
  font-family: 'Pragmatica';
  font-weight: 330;
}
.menu_fixed {
  grid-column: 1 / 13;
  grid-row: 1;
  display: flex;
  position: fixed;
  justify-content: space-around;
  outline: 2px solid black;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.menu_fixed h3 {
    text-align: center;
    padding: 0.7em 0 0.65em 3em;
}

.menu_iphone {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
  outline: 2px solid black;
  display: flex;
  position: fixed;
  padding-top: 8.5em;
  flex-direction: column;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4, .rectangle5 {
  width: 100vw;
  height: 25.5em;
  outline: 2px solid black;
  padding-top: 2.4em;
}

.footer {
  grid-column: 1 / 13;
  border: 1px solid black;
  grid-row: 8;
  display: flex;
  justify-content: space-between;
  padding: 0 2.6em;
}

body{
  margin: 0 0 0 0;
  border: 1px solid black;
  font-size: 0.9vw;
}

.floors {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.minus1_img {
width: 16em;
margin-right: 3em;
}
.minus2_img {
  width: 18em;
  margin-right: 3em;
}
.minus3_img, .minus4_img{
  width: 18em;
  margin-right: 1em;
}
.holl_img {
  width: 12em;
  margin-right: 1em;
}


.wrapper {
  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0em;
    grid-auto-rows: minmax(7em, auto);
    grid-template-rows: repeat(8, 7em);
 }
 .wrapper2 {
   display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-gap: 0em;
     /* grid-auto-rows: minmax(7em, auto); */
     grid-template-rows: repeat(7, 7em);
  }
  .wrapper3 {
    display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0em;
      grid-auto-rows: minmax(9em, auto);
      grid-template-rows: repeat(10, 7em);
   }
   .wrapper4 {
     display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-gap: 0em;
       grid-auto-rows: minmax(6em, auto);
       grid-template-rows: repeat(6, 7em);
    }
  .one {
    grid-column: 3 / 13;
    grid-row: 8;
    border: 1px solid black;
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 1em;
  }
  .two {
    grid-column: 3 / 7;
    grid-row: 1;
    border: 1px solid black;
  }
  .two:hover{
    background-color: #3A68EE;
  }
  .about {
    grid-column: 1 / 3;
    grid-row: 1;
    border: 1px solid black;
  }
  .about:hover{
    background-color: #3A68EE;
  }
  .shop {
    grid-column: 1 / 3;
    grid-row: 6;
    border: 1px solid black;
  }
  .shop:hover{
    background-color: #3A68EE;
  }
  .t-shirt {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
    border: 1px solid black;
  }
  .t-shirt img{
    margin: 1.2em 0 0 .5em;
    width: 94%;
  }
  .seven {
    grid-column: 7 / 13;
    grid-row: 5;
    border: 1px solid black;
  }
  .seven:hover{
    background-color: #3A68EE;
  }
  .four {
    grid-column: 7 / 13;
    grid-row: 6;
    border: 1px solid black;
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 1em;
  }
  .five {
    grid-column: 3 / 7;
    grid-row: 6;
    border: 1px solid black;
  }
  .five:hover{
    background-color: #3A68EE;
  }
  .six {
    grid-column: 3 / 13;
    grid-row: 7;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    display: block;
  }
  .stroke1 {
    position: absolute;
    width: 130em;
    animation: stroke1 20s linear infinite;
  }
  .stroke1-2{
    position: absolute;
    width: 130em;
    animation: stroke2 20s linear infinite;
  }

  .stroke2 {
    position: absolute;
    width: 162em;
    animation: stroke22 20s linear infinite;
  }
  .stroke2-2{
    position: absolute;
    width: 162em;
    animation: stroke222 20s linear infinite;
  }

  .stroke3 {
    position: absolute;
    width: 94em;
    animation: stroke3 20s linear infinite;
  }
  .stroke3-2{
    position: absolute;
    width: 94em;
    animation: stroke33 20s linear infinite;
  }

  .mechanism {
    grid-column: 7 / 13;
    grid-row: 1 / 5;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  }
  .triangles{
    grid-column: 3 / 7;
    grid-row: 2 / 6;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
  }
  .triangles img:hover {
  opacity: 0;
  }
  .merzlota{
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    border: 1px solid black;
    overflow: hidden;
  }
    .merzlota_img2, .merzlota_img1 {
    width: 101%;
  }

  .merzlota_img2 {
    margin-top: -4.8em;
  }
  .merzlota_img3 {
    margin: 4.2em 0 0 1.8em;
    width: 15%;
    animation: light 2s infinite alternate ;
  }

  .tr2, .tr5, .tr9, .tr12 {
    position: relative;
  }
  .tr1, .tr3, .tr6, .tr11 {
    position: relative;
    }

  .tr4, .tr7, .tr8, .tr10 {
    position: relative;
  }

  .tr4, .tr7, .tr8, .tr10, .tr1, .tr3, .tr6, .tr11, .tr2, .tr5, .tr9, .tr12, .tr13, .tr14, .tr15, .tr16, .tr17, .tr18, .tr19 {
    width: 9.2em;
    height: 9.4em;
  }

  .bolt1 {
    position: fixed;
    margin: 1em 0 0 1em;
    width: 15%;
    animation: spin 30s linear infinite;
  }
  .bolt2 {
    position: fixed;
    margin: -1.3em 0 0 15.7em;
    width: 14%;
    animation: spin2 30s linear infinite;
  }
  .bolt3 {
    position: fixed;
    margin: 1em 0 0 29em;
    width: 13%;
    animation: spin 30s linear infinite;
  }
  .bolt4 {
    position: fixed;
    margin: 2em 0 0 44em;
    width: 6%;
      animation: spin2 30s linear infinite;
  }
  .bolt5 {
    position: fixed;
    margin: 17em 0 0 0em;
    width: 7%;
      animation: spin 30s linear infinite;
  }
  .bolt6 {
    position: fixed;
    margin: 17em 0 0 7em;
    width: 10%;
      animation: spin2 30s linear infinite;
  }
  .bolt7 {
    position: fixed;
    margin: 10em 0 0 15em;
    width: 18%;
      animation: spin 30s linear infinite;
  }
  .bolt8 {
    position: fixed;
    margin: 12em 0 0 31em;
    width: 16%;
      animation: spin 30s linear infinite;
  }
  .bolt9 {
    position: fixed;
    margin: 10em 0 0 45em;
    width: 9%;
      animation: spin 30s linear infinite;
  }
