@media all and (min-width: 320px) and (max-width: 1023px) {

  p, h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 2em;
    /* margin-left: 1.6em; */
  }

  .wrapper2, .wrapper3 {
     grid-template-rows: repeat(7, 9em);
  }
  .minus4 img {
    height: 100%;
  }
  .zavod img{
      height: 120%;
  }

.others {
    display: none;
  }
  .burger {
    display: block;
    /* padding: 1.6em 0em 0 10em; */
          margin-right: 4em;
  }
  .cross {
        margin: 0.5em 0em 0 92em;
  }
  .burger img, .cross img {
    width: 6em;
  }
  .menu_fixed {
    justify-content: space-between;
        align-items: center;
  }
  .menu_iphone h3 {
    font-size: 5em;
    margin-left: 0;
  }


}
